DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_APPLICATION_SECRET_KEY=django-insecure-#^)upu2bu%2m2x!9$b=pfqjymwy$2&ec!-aj!!63k5w19fsv#o

DJANGO_DEBUG=1
ENABLE_DEBUG_TOOLBAR=1

DJANGO_ALLOWED_HOSTS='localhost 127.0.0.1'
DB_NAME=movies_database
DB_USER=postgres
DB_PASSWORD=1234
DB_HOST=movies_admin_db
DB_PORT=5432
DATABASE=postgres
