<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Voice Search</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" type="image" href="/static/assistant/img/voice_icon.ico">
</head>
<body>

  <form id="voiceRecognition">
    <div class="speech">
      <input type="text" name="query" id="transcript" placeholder="Нажмите на микрофон и скажите что-нибудь"/>
      <img class="microphone__image" src="/static/assistant/img/microphone.gif"/>
    </div>
  </form>

  {% if text_to_speech %}
  <form id="voiceSynthesis">
    <div class="speech">
      <span id="toSpeech">{{ text_to_speech }}</span>
    </div>
  </form>
  {% endif %}

  {% if persons %}
	<h3>Персоны</h3>
	<div>
  {% for person in persons %}
      <span class="search_result">
          <img src="/media/{{ person.photo_path }}" width="150" height="210"/>
          <p class="personName">{{ person.name }}</p>
      </span>
  {% endfor %}
	</div>
  {% endif %}

  {% if films %}
	<h3>Фильмы</h3>
	<div>
  {% for film in films %}
      <span class="search_result">
          <img src="/media/{{ film.screenshot_path }}" width="150" height="210"/>
          <p class="personName">{{ film.title }}</p>
      </span>
  {% endfor %}
	</div>
  {% endif %}

  <script src="/static/assistant/js/speechRecognition.js"></script>
  <script src="/static/assistant/js/speechSynthesis.js"></script>
</body>
</html>
