<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Voice Search</title>
  <link rel="stylesheet" href="/static/assistant/css/style.css">
  <link rel="icon" type="image" href="/static/assistant/img/voice_icon.ico">
</head>
<body>
  <h3>
    Вопросы, которые система может понять
  </h3>

  <table class="question_table">
    <tr>
      <th>Вопрос</th>
      <th>Ответ</th>
    </tr>
    <tr>
      <th colspan=2>Режиссер по фильму</th>
    </tr>
    <tr>
      <td>Кто был режиссером фильма Аватар</td>
      <td>Режиссер фильма Джеймс Кэмерон</td>
    </tr>
    <tr>
      <td>Кто режиссер фильма Аватар</td>
      <td>Режиссер фильма Джеймс Кэмерон</td>
    </tr>
    <tr>
      <td>Кто режиссер Аватара</td>
      <td>Режиссер фильма Джеймс Кэмерон</td>
    </tr>
    <tr>
      <td>Кто снял Аватара</td>
      <td>Режиссер фильма Джеймс Кэмерон</td>
    </tr>
    <tr>
      <td>Назови режиссера фильма Аватар</td>
      <td>Режиссер фильма Джеймс Кэмерон</td>
    </tr>
    <tr>
      <td>Назови режиссера Аватара</td>
      <td>Режиссер фильма Джеймс Кэмерон</td>
    </tr>
    <tr>
      <td>Покажи режиссера Аватара</td>
      <td>Режиссер фильма Джеймс Кэмерон</td>
    </tr>
    <tr>
      <td>Скажи кто режиссер Аватара</td>
      <td>Режиссер фильма Джеймс Кэмерон</td>
    </tr>
    <tr>
      <th colspan=2>Сценарист по фильму</th>
    </tr>
    <tr>
      <td>Кто автор сценария Аватара</td>
      <td>Сценарист фильма Джеймс Кэмерон</td>
    </tr>
    <tr>
      <td>Кто написал сценарий Аватар</td>
      <td>Сценарист фильма Джеймс Кэмерон</td>
    </tr>
    <tr>
      <td>Кто сценарист фильма аватар</td>
      <td>Сценарист фильма Джеймс Кэмерон</td>
    </tr>
    <tr>
      <td>Кто создал сценарий для Аватара</td>
      <td>Сценарист фильма Джеймс Кэмерон</td>
    </tr>
    <tr>
      <th colspan=2>Актер по фильму</th>
    </tr>
    <tr>
      <td>Кто снимался в аватаре</td>
      <td>Актеры фильма Лас Алонсо, Уэс Стьюди, Си Си Эйч Паундер, Джоэль Мур, Джованни Рибизи, Мишель Родригес, Стивен Лэнг, Сигурни Уивер, Зои Салдана, Сэм Уортингтон</td>
    </tr>
    <tr>
      <td>Назови актеров фильма Аватар</td>
      <td>Актеры фильма Лас Алонсо, Уэс Стьюди, Си Си Эйч Паундер, Джоэль Мур, Джованни Рибизи, Мишель Родригес, Стивен Лэнг, Сигурни Уивер, Зои Салдана, Сэм Уортингтон</td>
    </tr>
    <tr>
      <th colspan=2>Длительность фильма</th>
    </tr>
    <tr>
      <td>Какая длительность фильма Аватар</td>
      <td>Длительность фильма 162 минут</td>
    </tr>
    <tr>
      <td>Какая продолжительность Аватара</td>
      <td>Длительность фильма 162 минут</td>
    </tr>
    <tr>
      <td>Сколько длится Аватар</td>
      <td>Длительность фильма 162 минут</td>
    </tr>
    <tr>
      <th colspan=2>Фильм по режиссеру</th>
    </tr>
    <tr>
      <td>Какие фильмы снял спилберг</td>
      <td>Всего фильмов 6. Это - Терминал, Спасти рядового Райана, Индиана Джонс и последний крестовый поход, Поймай меня, если сможешь, Список Шиндлера, Вестсайдская история</td>
    </tr>
    <tr>
      <td>В каких фильмах режиссером был спилберг</td>
      <td>Всего фильмов 6. Это - Терминал, Спасти рядового Райана, Индиана Джонс и последний крестовый поход, Поймай меня, если сможешь, Список Шиндлера, Вестсайдская история</td>
    </tr>
    <tr>
      <td>Что снял спилберг</td>
      <td>Всего фильмов 6. Это - Терминал, Спасти рядового Райана, Индиана Джонс и последний крестовый поход, Поймай меня, если сможешь, Список Шиндлера, Вестсайдская история</td>
    </tr>
    <tr>
      <th colspan=2>Фильм по сценаристу</th>
    </tr>
    <tr>
      <td>Для каких фильмов написал сценарий Марио Пьюзо</td>
      <td>Всего фильмов 10. Это - Крестный отец, Крестный отец 2, Многоэтажка, На Западном фронте без перемен, Дело Ричарда Джуэлла, Кунг-фу принцесса, The Телки, Куда ты пропала, Бернадетт?, Мистер Нокаут, Теория большого взрыва</td>
    </tr>
    <tr>
      <td>В каких фильмах сценаристом был Марио Пьезо</td>
      <td>Всего фильмов 10. Это - Многоэтажка, Крестный отец, Крестный отец 2, На Западном фронте без перемен, Дело Ричарда Джуэлла, Кунг-фу принцесса, The Телки, Куда ты пропала, Бернадетт?, Мистер Нокаут, Теория большого взрыва</td>
    </tr>
    <tr>
      <th colspan=2>Фильм по актеру</th>
    </tr>
    <tr>
      <td>В каких фильмах снимался Джони Депп</td>
      <td>Всего фильмов 10. Это - Пираты Карибского моря: Сундук мертвеца, Пираты Карибского моря: Проклятие Черной жемчужины, Фантастические твари: Преступления Грин-де-Вальда, Пираты Карибского моря: На краю света, Фантастические твари: Тайны Дамблдора, Труп невесты, Снова молоды, Волчья яма 3, Арахисовый сокол, Один дома</td>
    </tr>
    <tr>
      <td>Где снимался Джони Депп</td>
      <td>Всего фильмов 10. Это - Пираты Карибского моря: Сундук мертвеца, Пираты Карибского моря: Проклятие Черной жемчужины, Фантастические твари: Преступления Грин-де-Вальда, Пираты Карибского моря: На краю света, Фантастические твари: Тайны Дамблдора, Труп невесты, Снова молоды, Волчья яма 3, Арахисовый сокол, Один дома</td>
    </tr>
  </table>
  <h3>
    Вопросы, которые система не может понять
  </h3>
  <table class="question_table">
    <tr>
      <th>Вопрос</th>
      <th>Ответ</th>
    </tr>
    <tr>
      <td>В каких фильмах Спилберг был режиссером</td>
      <td>-</td>
    </tr>
    <tr>
      <td>В каких фильмах Джони Депп был актером</td>
      <td>-</td>
    </tr>
    </table>
</body>
</html>
